body{
margin:0;
font-family:Arial;
background:#040d18;
color:white;
overflow-x:hidden;
}

body::before{
content:"";
position:fixed;
width:100%;
height:100%;
background-image:
linear-gradient(rgba(0,255,200,.04) 1px, transparent 1px),
linear-gradient(90deg, rgba(0,255,200,.04) 1px, transparent 1px);
background-size:40px 40px;
z-index:-1;
}

header{
text-align:center;
padding:40px 20px;
}

.top{
color:#00ffd0;
letter-spacing:4px;
font-size:14px;
}

h1{
font-size:70px;
margin:10px 0;
color:#00ffd0;
}

.sub{
color:#6d8db3;
font-size:28px;
}

.main{
display:flex;
gap:25px;
padding:20px;
}

.left{
width:32%;
}

.right{
width:68%;
background:#081828;
border-radius:18px;
overflow:hidden;
border:1px solid #163654;
}

.graphhead{
padding:20px;
font-size:22px;
color:#00ffd0;
border-bottom:1px solid #163654;
}

canvas{
width:100%;
height:700px;
background:#020912;
}

.card{
background:#0b1a2d;
padding:25px;
margin-bottom:20px;
border-radius:18px;
border:1px solid #163654;
}

.card h2{
color:#00ffd0;
font-size:22px;
margin-bottom:20px;
}

input,select{
width:100%;
padding:14px;
margin-bottom:12px;
background:#10233b;
color:white;
border:none;
border-radius:10px;
font-size:18px;
}

button{
width:100%;
padding:14px;
background:#00ffd0;
border:none;
font-size:20px;
font-weight:bold;
border-radius:10px;
cursor:pointer;
margin-bottom:10px;
}

button:hover{
background:#00d9b3;
}

#nodes,#edges{
margin-top:10px;
color:#cfdfff;
font-size:18px;
}

.result{
margin-top:15px;
color:#00ffd0;
font-size:22px;
}

.listbox{
margin-top:12px;
}

.item{
background:#10233b;
padding:10px;
margin:8px 0;
border-radius:8px;
display:flex;
justify-content:space-between;
align-items:center;
font-size:18px;
}

.del{
background:#ff4d4d;
color:white;
border:none;
padding:6px 12px;
border-radius:6px;
cursor:pointer;
font-size:16px;
width:auto;
}

.del:hover{
background:#ff1a1a;
}
@media (max-width: 768px){

.main{
display:block;
padding:10px;
}

.left, .right{
width:100%;
}

h1{
font-size:42px;
}

.sub{
font-size:18px;
}

.card{
padding:15px;
margin-bottom:15px;
}

input,select,button{
font-size:16px;
padding:12px;
}

canvas{
height:400px;
}

.graphhead{
font-size:18px;
padding:15px;
}

}